<section class="post-comments">
<div class="comments" id="comments">
        <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
        <script src='/assets/js/Valine.min.js'></script>
        <script>
        var valine = new Valine();
        valine.init({
            av: AV, 
            el: '.comments',
            notify: true,
            verify: true,
            app_id: 'CkzCujlcmKdVKoeNAWN2R5mK-gzGzoHsz',
            app_key: '',
            placeholder: '做好觉悟，上吧！<!--Markdown-->'
        });
    </script>
</div>
</section>
