<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/zcxwyyan" rel="noopener noreferrer" title="我的微博" target="_blank" >
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Music -->
  <li class="navigation__item">
    <a href="/music" title="我的音乐" target="_blank">
      <i class='social fa fa-music'></i>
      <span class="label">Music</span>
    </a>
  </li>

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/haiwx" rel="noopener noreferrer" title="我的Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  
  
  <!-- RSS -->
  <li class="navigation__item">
    <a href="{{@blog.url}}/rss/" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:eloli@foxmail.com" rel="noopener noreferrer" title="邮件联系我">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

<!-- Search -->
  <li class="navigation__item">
    <a href="#search" title="搜索">
      <i class='social fa fa-search'></i>
      <span class="label">Search</span>
    </a>
  </li>

  </ul>
</nav>

